<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.phonegap.plugin.screenOrientation"
      version="0.1.0">


    <name>ScreenOrientation</name>
    
    <keywords>phonegap, screen orientation, android</keywords>
    
    <description>
      Phonegap plugin which adds support for screen orientation under Android. 
    </description>
    
    <license>MIT</license>
    <author>Github</author>

    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <!-- android -->
    <platform name="android">
       <js-module src="www/screenOrientation.js" name="screenOrientation">
          <clobbers target="screenOrientation" />
       </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ScreenOrientation">
                <param name="android-package" value="com.phonegap.plugin.screenOrientation.ScreenOrientation" />
            </feature>
        </config-file>

        <source-file src="src/android/ScreenOrientation.java" target-dir="src/com/phonegap/plugin/screenOrientation" />

    </platform>
</plugin>

